:root {
    --side-panel-width: 0; /* nothing here right now */

    --clock-height: 100px;
    --clock-font-size: 100px;

    --search-bar-height: 80px;
    --search-bar-width: 740px;
    --search-bar-font-size: 21px;

    --height-between-search-and-icons: 52px;

    --icon-height: 98px;
    --icon-gap: 34px;
    --icon-hover-height: 14px;

    --search-engine-icons-height: 44px;
    --search-engine-icons-gap: 16px;
    --search-engine-selector-margin-bottom: 16px;
    --search-engine-icon-hover-height: 8px;

    --bg-color: rgba(28, 31, 33, 1.0);
    --search-bar-color: rgba(33, 39, 43, 1.0);
    --search-bar-text-color: rgba(121, 133, 140, 1.0);
    --clock-font-color: white;

    --font-family: "SpaceMono Nerd Font Mono", "Consolas", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
